*{margin: 0; padding: 0;}
body{

	background:#64b5f6;
	
}
form ,h3 {
	align: center-left;
	padding-top:5px;

}
#label {

    border-radius: 7px ;
	padding: 4px;

}
.paragrafo_botao_novo  p{
position: absolute;
top:60px;
padding-top:0px;
float:left;
padding-left:9px;
margin-top:0px;
	
}
#h1{
position: absolute;
top:160px;
padding-top:0px;
float:left;
padding-left: 250px;
margin-top:0px;
	
}
.label2{

	height: 17px;
	width: 210px;
}
#alinhar{
	width:180px;
	height: 50x;
	margin: 10px 1px 1px 1px;
	float: left;
}

.logo{
	padding-top:30px;

}

.acomodar{
	width: 400px;
	height:230px ;
	padding-top:6px;
	margin: 50px auto;
	border: 3px solid #8B8B83;
	box-shadow: 25px 25px 25px #424242;
}
}
#botao{
	height:5x;
	padding-bottom:7px;
	padding-top:6px;
	padding-left:5px;
	padding-right: 5px;
}

.form_usuario{
	width: 450px;
	height:430px ;
	padding-top:20px;
	padding-left: 30px;
	margin: 40px auto;
	border: 3px solid #8B8B83;
}
.form_tipo_perfil{
	width: 450px;
	height:300px ;
	padding-top:20px;
	padding-left: 30px;
	margin: 40px auto;
	border: 3px solid #8B8B83;
}
.form_tipo_habilitacao{
	width: 450px;
	height:300px ;
	padding-top:20px;
	padding-left: 30px;
	margin: 40px auto;
	border: 3px solid #8B8B83;
}
.form_cadastrar_turma{
	width: 450px;
	height:300px ;
	padding-top:20px;
	padding-left: 30px;
	margin: 40px auto;
	border: 3px solid #8B8B83;
}
.form_cadastrar_veiculo{
	width: 450px;
	height:300px ;
	padding-top:20px;
	padding-left: 30px;
	margin: 40px auto;
	border: 3px solid #8B8B83;
}
.form_cadastrar_aluno{
	width: 450px;
	height:480px ;
	padding-top:6px;
	padding-left: 30px;
	margin: 30px auto;
	border: 3px solid #8B8B83;
}
#h1_form{
	margin:20px;
}

#h1{
	margin-top:6px;
}
#sair{
	margin:0px;
	padding-top: -0px;
	float:right;
	height:7px;
	font-family:arial;
}


/* CSS menu */
#imagem {
    opacity: 0.4;
    filter: alpha(opacity=40);
	margin-top: 7px;
}
#nav{
	padding-top:0px;
	margin:10px;
	padding-left:3px;
	
}
#cadastrar #agenda{
	height:50px;
	width:178px;
}
#li{
	height:30px;
	width:178px;
}

#video{
	float:right;
	padding-right:200px; 	
	padding-top:20px;
	margin:3px;
}
#video2{
	float:right;
	padding-right:30px;
	padding-top:20px;
	margin:3px;
}
#video3{
	float:right;
	padding-right:30px;
	padding-top:20px;
	margin:3px;
}
#subtema{
	padding-top:4px;
	
}